
.homepage{
  margin: 20px 10px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
}

@media (min-width: 768px) { 
  .product-list {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
  .homepage {
    margin: 40px 80px;
  }
}

.product-card {
  text-align: center;
  transition: transform 0.3s ease;
}
