/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* src/components/Footer.css, Header.css, ProductCard.css */

/* Mobile View */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    text-align: center;
  }

  .header .nav ul {
    flex-direction: column;
  }

  .header .nav ul li {
    margin-bottom: 10px;
  }

  .product-list {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }

  .footer nav ul {
    flex-direction: column;
  }

  .footer nav ul li {
    margin-bottom: 10px;
  }
}

/* 
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
